*{
  /* border: 1px solid gold; */
}
body {
  background: #0F0F0F;

}

.page-container {
  min-height: 100vh;
  color: whitesmoke;
  text-align: center;
}

.register-container, .login-container {
  min-height: 72vh;
}

/* Navbar */
.login-button, .register-button, .logout-button {
  margin-right: 10px;
  color: whitesmoke;
  background: #353A40;
  outline: none;
  box-shadow: none;
  border: none;
}

.login-button:focus, .register-button:focus, .logout-button:focus {
  outline: none;
  box-shadow: none;
}

.login-button:hover, .register-button:hover, .logout-button:hover {
  text-decoration: none;
  color: darkgrey;
  cursor: pointer;
}

/* SHOW PAGE */
#star {
  margin-left: 15px;
  color: gold;
}

.actor-container {
  position: relative;
  text-align: center;
  width: 100%;
  border: 1px solid whitesmoke;
}

.bannerID-title {
  margin-top: 15px;
}

.bannerID-text {
  margin-bottom: 2em;
}

.cast {
  margin-bottom: 1em;
}

/* Carousel */
#carouselExampleIndicators {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

.carousel-inner {
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* SearchBar */
.searchbar:focus {
outline: none;
box-shadow: none;
}

.lineBreak {
  border: solid #ddd;
  border-width: 1px 0 0 0
}

.banner-container {
  position: relative;
}

.banner-text-container {
  position: absolute;
  max-width: 500px;
  bottom: 2rem;
  margin-left: 2rem;
}

.bannerID-container {
  color: whitesmoke;
}

.popularMovies {
  color: white;
}

.banner-title {
  color: white;
}

.banner-text {
  color: white;
  font-size: 1rem;
}

#banner-image, #bannerID-image {
  linear-gradient: (to bottom, rgba(0,0,0,0)
   39%, rgba(0,0,0,0)
   41%, rgba(0,0,0,0.65)
   100%);
  height: 500px;
  background-size: 100% cover;
  background-position: center center;
  width: 100%;
  position: relative;
  z-index: -1;
}

.title-style {
  width: 85%;
  margin: 1rem auto;
}

/*  */

/* Body */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;

}

.gridImg {
  width: 100%;
  height: 320px;
}
/* Load More Button */

.loadMore {
  display: flex;
  justify-content: center;
}

.loadbutton {
  margin: 5px;
}

.loadbutton:focus {
  outline: none;
  box-shadow: none;
}


/* Register Page */
.register-container, .login-container {
  margin-top: 2.5em;
  color: whitesmoke;
  opacity: 1;

}

.user-input {
  background: white;
  color: whitesmoke;
}

.user-input:focus {
  background: whitesmoke;
  color: whitesmoke;
}

.form-container {
  border: whitesmoke 1px groove;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 4em;
  width: 60vh;
  text-align: center;
}

.not-registered {
  text-align: center;
  padding-top: 10px;
}

.not-reg-button {
  color: #5AA0B5;
  background: #0F0F0F;
  outline: none;
  box-shadow: none;
  border: none;

}

#logging-in, #register-submit {
  margin-left: auto;
  margin-right: auto;
  padding: 3px 18.5vh;
  border-radius: 15px;
  background-color: #0F0F0F;
  color: whitesmoke;
  border: 1.5px solid #5AA0B5;
}

#logging-in:hover {
  background-color: #5AA0B5;
  transition: .5s;
}

.register-title, .login-title {
  text-align: center;
  padding-bottom: 1em;
}

#register-username, #register-password, #login-username, #login-password {
  margin: 10px;
}

#register-submit, #login-submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* Footer */

.footer1-title {
  padding-top: 1em;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #1D2124;
  padding: 2em 0;
  color: ghostwhite;
  text-align: center;

}

#facebook {
  padding: 0 25px;
}

#instagram, #facebook, #twitter {
  font-size: 30px;
}

/* Iphone 6 7 8 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)  {

    .register-container, .login-container {
      min-height: 71vh;

    }

    .register-button {
      display: block;
    }

    .form-container {
      border: whitesmoke 1px solid;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      padding: 4em;
      width: 50vh;
      text-align: center;
    }

    .register-container, .login-container {
      margin-top: 19em;
      color: whitesmoke;
    }
}



/* Iphone X */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px) {

    .register-container, .login-container {
      min-height: 81vh;

    }

    .register-button {
      display: block;
    }

    .form-container {
      border: whitesmoke 1px solid;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      padding: 3.5em;
      width: 35vh;
      text-align: center;
    }

    .register-container, .login-container {
      margin-top: 15em;
      color: whitesmoke;
    }

    #logging-in, #register-submit {
      margin-left: auto;
      margin-right: auto;
      padding: 3px 13.8vh;
      border-radius: 15px;
      background-color: #0F0F0F;
      color: whitesmoke;
      border: 1.5px solid #5AA0B5;
    }
  }

  /* Iphone X landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    .register-container, .login-container {
      min-height: 100vh;

    }

    .register-button {
      display: block;
    }

    .form-container {
      border: whitesmoke 1px solid;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      padding: 4em;
      width: 70vh;
      text-align: center;
    }

    .register-container, .login-container {
      margin: 5em 0;
      color: whitesmoke;
    }

    #logging-in, #register-submit {
      margin-left: auto;
      margin-right: auto;
      padding: 3px 16.5vh;
      border-radius: 15px;
      background-color: #0F0F0F;
      color: whitesmoke;
      border: 1.5px solid #5AA0B5;
    }
  }

  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

      .register-container, .login-container {
        min-height: 100vh;

      }

      .register-button {
        display: block;
      }

      .form-container {
        border: whitesmoke 1px solid;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        padding: 4em;
        width: 70vh;
        text-align: center;
      }

      .register-container, .login-container {
        margin: 5em 0;
        color: whitesmoke;
      }

      #logging-in, #register-submit {
        margin-left: auto;
        margin-right: auto;
        padding: 3px 16.5vh;
        border-radius: 15px;
        background-color: #0F0F0F;
        color: whitesmoke;
        border: 1.5px solid #5AA0B5;
      }

    }
